@use '@angular/material' as mat;
@import '../palettes.scss';
@import './typography.scss';

@include mat.core();

// Define the palettes for your theme using http://mcg.mbitson.com/#!?mcgpalette0=%23876bea
$pal-primary: mat.m2-define-palette($palette-primary);
$pal-accent: mat.m2-define-palette($palette-accent);
$pal-error: mat.m2-define-palette($palette-error);
$pal-warning: mat.m2-define-palette($palette-warning);
$pal-success: mat.m2-define-palette($palette-success);
$pal-grey: mat.m2-define-palette($palette-grey);
$pal-black: mat.m2-define-palette($palette-black);

$fitfever-light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $pal-primary,
      accent: $pal-accent,
      warn: $pal-error,
    ),
    typography: $fitfever-typography-config,
  )
);

// Use the default configuration.
@include mat.typography-hierarchy($fitfever-typography-config);

// setup theme
@include mat.all-component-themes($fitfever-light-theme);
